@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* padding: 0; */
  
}

:root {
  --font-tc: "Technor", sans-serif;
  --font-nn: "Nunito", sans-serif;
}
/* body {
  background-color: #fff3e2;
  background-color: #c7e9b0;
  background-color: #fdf7c3;
  background-color: #fdf7c3;
} */


.ff-tc {
  font-family: var(--font-tc);
}
.ff-nn {
  font-family: var(--font-nn);
}

/* .ot-red {
  outline: 2px solid red;
}
.ot-blue {
  outline: 2px solid blue;
}
.ot-green {
  outline: 2px solid green;
}
.ot-yellow {
  outline: 2px solid yellow;
} */

.ds-no {
  display: none;
}



/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 2px solid black;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777474;
}

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);
body {
  font-family: 'Source Code Pro';
}
h1 {
  text-align: center;
}
p {
  font-size: 20px;
}

.noteType {
  text-align: center;
}
/*end of font style*/

/*begin of table style*/
table {
  border: 2px solid grey;
  width: 100%;
}
td {
  border: 1px solid lightgrey;
  width: 50%;
  padding: 10px;
}
/*end of table style*/

/*begin of technical style*/
input {
  font-size: 20px;
  font-family: 'Source Code Pro';
  text-align: center;
  width: 100%;
  align: center;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
  margin-top : 5px;
}

button {
  font-size: 20px;
  font-family: 'Source Code Pro';
  text-align: center;
  width: 100%;
  align: center;
  border: 1px solid lightgrey;
  background-color: white;
}
